<div class="card-header">
    <strong>Edit Module </strong>
</div>
<div class="card-body card-block">
    <div class="row form-group">
        <div class="col col-md-3">
            <label class=" form-control-label">Project Name</label>
        </div>
        <div class="col-12 col-md-9">


            <input type="text" placeholder="Enter Module Name..." class="form-control" [(ngModel)]="projectName" readonly>


        </div>
    </div>
    <div class="row form-group">
        <div class="col col-md-3">
            <label class=" form-control-label">Module Name</label>
        </div>
        <div class="col-12 col-md-9">
            <input type="text" placeholder="Enter Module Name..." class="form-control" [(ngModel)]="moduleName">

        </div>
    </div>


    <div class="row form-group">
        <div class="col col-md-3">
            <label class=" form-control-label">Description</label>
        </div>

        <div class="col-12 col-md-9">
            <textarea name="textarea-input" id="textarea-input" rows="9" placeholder="Description." class="form-control"
                [(ngModel)]="description"></textarea>
        </div>
    </div>


    <div class="row form-group">
        <div class="col col-md-3">
            <label class=" form-control-label">Estimated Hour</label>
        </div>
        <div class="col-12 col-md-9">
            <input type="text"  class="form-control" [(ngModel)]="estimatedHour">

        </div>
    </div>
    <div class="row form-group">
        <div class="col col-md-3">
            <label class=" form-control-label">priority</label>
        </div>
        <div class="col-12 col-md-9">


            <select name="select" id="select" class="form-control" [(ngModel)]="priorityId">
                <option value="0" *ngFor="let m of priority" value="{{m._id}}">{{m.priorityName}}</option>


            </select>
        </div>
    </div>

    <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-sm" (click)="updatemodule()">
            <i class="fa fa-dot-circle-o"></i> Submit
        </button>
    </div>

</div>