<div class="card-header">Add Role</div>
<div class="card-body card-block">

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-user"></i>
            </div>
            <input type="text" id="username" name="username" placeholder="Add Role" class="form-control"
                [(ngModel)]="roleName">
        </div>
    </div>
    


    <div class="form-actions form-group">
        <button type="submit" class="btn btn-success btn-sm" (click)="addRole()">Add Role</button>
    </div>

</div>
<br>

