<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="./assets/images/icon/BUG2.png" alt="Admin">
        </a>
    </div>
    <nav class="navigation">
        <ul class="mainmenu">
          <li><a routerLink="admin-dashboard">Dashboard</a></li>
          <li><a >Role</a>
            <ul class="submenu">
              <li><a routerLink="addRole">Add Role</a></li>
              <li><a routerLink="listRole">List Role</a></li>
            </ul>
          </li>
          <li><a >Project</a>
            <ul class="submenu">
              <li><a routerLink="projects">Add Project</a></li>
              <li><a routerLink="listProject">List Project</a></li>
              <li><a routerLink="pendingProject">Pending Project</a></li>
              <li><a routerLink="complatedProject">Complated Project</a></li>
            </ul>
          </li>
          <li><a >Project Team</a>
            <ul class="submenu">
              <li><a routerLink="addprojectTeam">Add Project Team</a></li>
              <li><a routerLink="listProjectTeam">List Project Team</a></li>
            </ul>
          </li>
          <li><a >Module</a>
            <ul class="submenu">
              <li><a routerLink="addmodule">Add Module</a></li>
              <li><a routerLink="listmodule">List Module</a></li>
            </ul>
          </li>
          <li><a >Task</a>
            <ul class="submenu">
              <li><a routerLink="addtask">Add Task</a></li>
              <li><a routerLink="listtask">List Task</a></li>
            </ul>
          </li>
          <li><a >User</a>
            <ul class="submenu">
              <li><a routerLink="listuser">User List</a></li>
              <li><a routerLink="pendingApprovel">pending Approvel</a></li>
              <li><a routerLink="addUser">Add User</a></li>
            </ul>
          </li>
          <li><a >Reports</a>
            <ul class="submenu">
              <li><a routerLink="/admin/userReport">User Reports</a></li>
              <li><a routerLink="/admin/projectReport">Project Reports</a></li>
              <li><a routerLink="">Task Reports</a></li>
              <li><a routerLink="">Bug Reports</a></li>
            </ul>
          </li>
        </ul>
      </nav>
</aside>