<p>pm-sidebar works!</p>
<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <a href="#">
      <img src="./assets/images/icon/BUG2.png" alt="Admin">
    </a>
  </div>
  <nav class="navigation">
    <ul class="mainmenu">
      <li><a routerLink="pm-dashboard">Dashboard</a></li>
      <li><a>Project</a>
        <ul class="submenu">
          <li><a routerLink="pm-listProject">List Project</a></li>
          <li><a routerLink="pm-pendingProject">Pending Project</a></li>
          <li><a routerLink="pm-complatedProject">Complated Project</a></li>
        </ul>
      </li>
      <li><a>Module</a>
        <ul class="submenu">
          <li><a routerLink="pm-addModule">Add Module</a></li>
          <li><a routerLink="pm-listModule">List Module</a></li>
        </ul>
      </li>
      <li><a>Task</a>
        <ul class="submenu">
          <li><a routerLink="addtask">Add Task</a></li>
          <li><a routerLink="listtask">List Task</a></li>
        </ul>
      </li>
      <li><a>User</a>
        <ul class="submenu">
          <li><a routerLink="pm-userList">User List</a></li>
          <li><a routerLink="pm-pendingApprovel">Pending Approvel</a></li>
          <li><a routerLink="pm-addUser">Add User</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>