<!-- list -->

<div class="col-md-12">
    <!-- DATA TABLE -->
    <h3 class="title-5 m-b-35 card-header">Tasks</h3>
    <div class="table-data__tool">


    </div>
     <div class="table-responsive table-responsive-data2 ">
        <table class="table table-data2 size ">
            <thead>
                <tr>
                    <th [width]="150">Task Name</th>
                    <th [width]="100">Project Name</th>
                    <th [width]="150">Module Name</th>
                    <th [width]="350">Description</th>
                    <th [width]="100">Estimated hour</th>
                    <th >Start Date</th>
                    <th>status</th>
                    <th>Priority</th>
                    <th>Assigned</th>
                    <th style="width: 300px;">Action</th>

                </tr>
            </thead>
            <tbody>
                <tr class="tr-shadow"  *ngFor="let task of task" >

                    
                    <td>
                       {{task.taskName}}
                    </td>
                    <td>
                       {{task.projectId.projectName}}
                    </td>
                    <td >
                       {{task.moduleId.moduleName}}
                    </td>
                    <td>
                       {{task.description}}
                    </td>
                    <td>
                       {{task.totalTime}}
                    </td>
                    <td>
                        {{task.startDate}}                   
                    </td>
                    <td>
                       {{task.statusId.statusName}}
                    </td>

                    <td>
                       {{task.priorityId.priorityName}}
                    </td>
                    <td>
                        {{task.assigned==false?"Not Assigned":"Assigned"}}
                    </td>

                    <td style="width: 100px;">
                        <button type="button" class="btn btn-primary" style="width: 49%;" (click)="updatetask(task._id)" >Edit</button>
                        <button type="button" class="btn btn-danger" style="width: 49%;"  (click)="deletetask(task._id)">Delete</button> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- END DATA TABLE -->
</div>